<div class="video" data-genre={{genre}}>
    <div class="video-contents">
        <div class="video-url">
            <video class='myVideo' width="612" height="612" controls>
                <source src="{{video}}" type="video/mp4">
            </video>
        </div>
        <div class="video-caption">
            {{caption}}
        </div>
    </div>
</div>