<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv= "X-UA-Compatible" content="ie-edge">        <title>RenaLand</title>

        <script src = "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.runtime.js" charset="utf-8" defer></script>
        <script src="/videoPostTemplate.js" charset='utf-8' defer></script>
        <script src="/index.js" charset="utf-8" defer></script>

        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="header-logo"> 
                <a href="index1.html">
                    <img src="CS290FPLogo.png" width="280" height="280">
                </a>
            </div>
            <div class="search">
                <div id="search1">
                  <object align= right>
                      <input type="text" name="search" class="type" id="type" placeholder="Search...">
                      <button id="filter-update-button" class="searchbtn">Search</button>
                    
                  </object>
                </div>
            </div>
            <div class="genre-box">
                <div class="genre">
                    <input type="checkbox" name="type" id="genre-1" value="funny">
                    <label for="genre-1">Funny</label>
                </div>
                <div class="genre">
                    <input type="checkbox" name="type" id="genre-2" value="cartoon">
                    <label for="genre-2">Cartoon</label>
                </div>
                <div class="genre">
                    <input type="checkbox" name="type" id="genre-3" value="music">
                    <label for="genre-3">Music</label>
                </div>
                <div class="genre">
                    <input type="checkbox" name="type" id="genre-4" value="academic">
                    <label for="genre-4">Academic</label>
                </div>
                <div class="genre">
                    <input type="checkbox" name="type" id="other" value="other">
                    <label for="other">Others</label>
                </div>
            </div>
            <div class="update">
                <button id="filter-update-button" class="updatebtn">Update</button>
            </div>
        </header>
        {{{body}}}
    </body>
</html>
    