body{
    background-image: url("background.jpg");
}
.header-logo {
    position: fixed;
}

.header-logo img{
    position: relative;
    display: inline-block;
    top: -70px;
    left: 4px;
}
.search {
    position: relative;
    display: inline-block;
    top: 70px;
    left: 670px;
     
}

.type {
    outline:none;
}

.type{
    width: 250px;
    height: 30px;
    border: 2px solid lightpink;
    border-radius: 15px;
    font-size: 20px;
}
.searchbtn{
    position: relative;
    left: 10px;
    bottom: 3px;
    height: 35px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightpink;
    cursor:pointer;
    outline:none;
}

.genre-box{
    position: relative;
    display: inline-block;
    top: 60px;
    right: -800px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightpink;
    
}
.genre-box .genre{
    position: relative;
    display: inline-block;
    padding: 3px;
    margin: 5px;
      
}
updatebtn{
    position: relative;
    left: 1585px;
    top: 18px;
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: lightpink;
    height: 35px;
    cursor:pointer;
    outline:none;
}

#videos{
    position: relative;
    display: inline-flex;
    flex-direction: column;
	flex-wrap: wrap;
	margin: 2px 5px;
    padding: 10px;
    top: 100px;
    left: 480px;
}
.video{
    display: inline-block;
    
	width: 640px;
	height: 710px;
	padding: 5px;
	margin: 8px;
	border: 2px solid lightpink;
    border-radius: 4%;
    
}
.video-contents{
    position: relative;
    display: inline-block; 
    top: -40px;
    left: 5px;
    margin: 10px;
	width: 340px;
    height: 340px;
   
}
.video-url{
    display: block;
    position: relative;
}
.video-caption{
    display: block;
    position: relative;
    top: 76px;
    left: 130px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.myVideo {
    position: relative;
    top: 60px; 
    outline:none;
}

footer{
  margin: 0;
  position: fixed;
  top: 95%;
  left: 39%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#arrow-up {
    border: none;
    background: none;
    font-size: 35px;  
    outline:none;
    cursor:pointer;

}

#arrow-down {
    border: none;
    background: none;
    font-size: 35px;
    outline:none;
    cursor:pointer;

}

#upload-video {
    border: none;
    background: none;
    font-size:35px;
    outline:none;
    cursor:pointer;

}

.fas:hover {
    height: 60px;
    width: 150px;
    font-size: 40px;
    transform: scale(1.1,1.1);
}


.fas{
    height: 50px;
    width: 100px;
}

.fa-arrow-up {
    position: relative;
    top: 10px;
    font-size: 35px;
    color: rgb(173, 81, 95);
}

.fa-plus-circle {
    position: relative;
    top: 10px;
    font-size: 35px;
    color: rgb(173, 81, 95);
}

.fa-arrow-down {
    position: relative;
    top: 10px;
    font-size: 35px;
    color: rgb(173, 81, 95);
}


#new-video-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(214, 204, 204);
}
#modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}
.hidden {
    display: none;
}
.dialog-box{
    width: auto;
    max-width: 500px;
    min-width: 400px;
    min-height: 500px;
    margin: 40px auto;
    background-color: rgb(250, 199, 206);
    border-radius: 15px;

}
.dialog-header{
    position: relative;
    display: block;
    padding: 10px 10px;
    margin: 5px;
}
.dialog-header h3{
    margin: 2px;
    font-size: 25px;
}
.dialog-header .dialog-hide-button{
    position: absolute;
    right: 10px;
    top: 5px;
    padding: 2px;
    border: none;
    background: none;
    font-size: 25px;
}
.dialog-body .new-input-element{
    position: relative;
    display: block;
    margin: 10px;
    padding: 5px;
}
.new-input-element #new-url-input{
    margin: 5px;
    width: 250px;
    height: 25px;
}
.new-input-element #new-caption-input{
    margin: 5px;
    width: 250px;
    height: 25px;
}
.new-input-element .genre-box-fieldset{
    width: 330px;
    height: 200px;
}
fieldset div{
    position: relative;
    display: block;
    margin: 10px;
}
fieldset label{
    font-size: 20px;
}
.dialog-body label{
    font-size: 20px;
}
legend{
    font-size: 20px;
}
.cancel-button{
    position: relative;
    display: inline-block;
    left: 10px;
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 30px;
    font-size: 14px;
}
.upload-button{
    position: relative;
    display: inline-block;
    left: 20px;
    bottom: 0%;
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 30px;
    font-size: 14px;
}






